body{
background-color:#06010E;
position: relative;
color: turquoise;
height: fit-content;
font-family: "Bad Script", cursive;
}
#title{
    text-align: center;
    display: grid;
    
    margin: 0 auto;
    padding: 1%;
    grid-area: title;
}
h1 span{
   animation: glow 1s ease-in-out infinite alternate;
   

}

#yourscore{
    
    box-shadow: 0 0 10px #188ae7;
position: relative;
    text-align: center;
    display: grid;
    width: 60%;
    justify-self: end;  
    box-sizing: content-box;
    border: 4px solid blue;
    grid-area: yourscore;
    grid-column: 1/2;
grid-row: 5/5;
    
}
#dem{
    font-weight: 400;
    font-size: 150%;
}
#player{
    font-weight: 400;
    font-size: 150%;
}
#computerchoice{
    width: 60%;

    box-sizing: content-box;
    position: relative;
    box-shadow: 0 0 10px #188ae7;
    display: grid;
text-align: center;
    border: 4px solid blue;
    grid-area: computerchoice;
    grid-column: 3/3;
grid-row: 3/5;

}
#yourchoice{
width: 60%;
justify-self: end;   
    box-shadow: 0 0 10px #188ae7;
position: relative;
display: grid;
    text-align: center;
    box-sizing: content-box;
    border: 4px solid blue;
    grid-area: yourchoice;
    grid-column: 1/2;
    grid-row: 3/5;

}
#results{

    box-sizing: content-box;
    border: 4px solid blue;
  position: relative;
  display: grid;
  width: 70%;
justify-self: center;
    box-shadow: 0 0 10px #188ae7;
    text-align: center;
    grid-area: result;
    grid-column: 2/3;
grid-row: 2/3;

    
}

#computerscore{
    text-align: center;
    box-sizing: content-box;
    border: 4px solid blue;
    display: grid;
    width: 60%;
box-shadow: 0 0 10px #188ae7;
grid-area: computerscore;
position: relative;
grid-column: 3/4;
grid-row: 5/5;

}
#round-number{
    text-align: center;
    box-sizing: content-box;
    border: 4px solid blue;
    position: relative;
justify-self: center;
    box-shadow: 0 0 10px #188ae7;
    grid-area: roundno;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    width: 70%;


}
#container{
    width: 70%;
justify-self: center;
border: 4px solid blue;
box-shadow: 0 0 10px #188ae7;
grid-area: controls;
grid-column: 2/3;
grid-row: 3/6;
display: grid;

}
#grid{
   display: grid;
   grid-template-columns: 0.9fr 0fr 0.6fr ;
   grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 0.5fr ;
   
   
}


#trib{
    margin-left: 0.5em;
    bottom: 40vh;
    font-weight: 300;
    font-size:20px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
display: grid;
grid-row: 7/7;
}
.bt{
    
background-color: transparent;
width: 70%;
height: 5vh;
display: block;
margin: auto ;
border: 4px solid turquoise;
font-weight: 200;
color: turquoise;
cursor: pointer;
font-size: 1.2em;
position: relative;
}

.bt::before, .bt::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background-color: #06010E ;
    
    transition: .17s linear;
    animation-iteration-count: infinite;
}

.bt::before{
    top:-4px;
    left: 10%;
}

.bt::after{
    bottom:-4px;
    right:10%;
    
}
.bt:hover::before{
    left: 80%;
    background-color:  turquoise;
}
.bt:hover{
    color: #06010E;
    border: 4px solid #06010E;

    background-color: turquoise; box-shadow: 0 0 18px turquoise;
}
.bt:hover::after{
    right: 80%;
    background-color: turquoise;

    
}
@keyframes greenPulse {
    from { background-color: #cbda9e; box-shadow: 0 0 9px #333; }
    50% { background-color: #91bd09; box-shadow: 0 0 18px #91bd09; }
    to { background-color: #fff;  box-shadow: 0 0 0 0px #333; }
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @media screen and (max-width: 580px)
  {
    .bt{
          width: 70%;
          height: fit-content;
          font-size: 75%;
    }
    #computerchoice{
        padding-top: 10%;
        width: 74%;
    }
   
    #computerscore{
        width: 75%;
    }
    #grid{
        display: grid;
        grid-template-columns: 0.6fr 0.6fr 0.6fr ;
        grid-template-rows: 0.6fr 1fr 0.6fr 0.6fr 0.6fr 1fr 0.2fr ;
        
     }

  }
  @media screen and (min-width: 700px)
{
    #grid{
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 0.3fr ;
    justify-content: center;
    }
}